.DS_Store
Last login: Wed Jul 20 17:51:29 on ttys001
Michaels-MacBook-Pro-3:~ Main_user$ /Users/Main_user/Desktop/Bootcamp/Bootstrap_Portfolio_7_20_2016/.gitignore ; exit;
/Users/Main_user/Desktop/Bootcamp/Bootstrap_Portfolio_7_20_2016/.gitignore: line 1: node_modules: command not found
/Users/Main_user/Desktop/Bootcamp/Bootstrap_Portfolio_7_20_2016/.gitignore: line 2: bower_components: command not found
logout
Saving session...
...copying shared history...
...saving history...truncating history files...
...completed.

[Process completed]




